html{
    height: 100%;
    overflow: hidden;
}

body{ 
    height: 100%;
    overflow: hidden;
    margin:0; 
    padding:0; 
    font-size: xx-large;
}

.tab-app {
    height: 100%;
    width: 100%;
    margin-top: 0.2vh;
}

.tab-navigator{
    display: block;
    width: 100%;
    margin-left: 3px;
}

.tab-title{
    display: inline-block;
    min-width: 60px;
}

.tab-close-button{
    margin-left: 10px;
}

.nav > li > a {
    padding: 3px 5px;
}

.hidden{
    display: none;
}

.tab-container {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.tab-content {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.tab-content-without-toolbar {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.form-group{
    margin-bottom: 1px;
}

.btn{
    font-size: inherit;
}


.tab-toolbar{
    display: table;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.tab-toolbar-form{
}

.toolbar-button{
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.input-connstr-div{
    display: table-cell;
    width: 100%;
}


.input-connstr{
    padding: 3px 12px;
    font-size: inherit;
    height: inherit;
}

.tab-split {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.tab-split-container{
    display: inline-block; 
    overflow: hidden;
}

.hsplitter {
    cursor: ns-resize;
    height: 3px;
    width: 100;
}

.vsplitter {
    display: inline-block; 
    cursor: ew-resize;
    width: 3px;
    height: 100%;
    position: relative;
    z-index: 1;
}

.edit-area{
    height: 100%;
    width: 100%;
}

.tab-editor {
    height: 50vh;
    width: 100%;
    overflow: scroll;
    border:1px solid;
}

.output-console {
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-bottom: 40px;
    padding-top: 5px;
}

.output-message {
    padding-left: 10px;
}

.ace_editor{
    width: 100%;
    height: 100%;
    font-size: inherit !important;
}

.ace_content{
    z-index: 1;
}

.connection-error{
    font-family: monospace;
    white-space: pre-line;
}

.query-error{
    font-family: monospace;
    white-space: pre;
}

.floating-cols-header{
    position: fixed;
    display: none;
    margin-top: -5px;
}

.floating-header-table{
}

.floating-field {
    display: inline-block;
    padding: 8px;
    font-weight: bold;
}

.table-resultset {
    width: auto;
    margin-left: 10px;
}

.table-resultset td {
  white-space: pre-wrap;
}

.duration-div {
    margin-left: 10px;
    margin-right: 20px;
}

.duration-table{
    width: 100%;
    text-align: right;
}

.duration-table tr td:first-child{
    text-align: left;
}

.rows-count-div{
    margin-left: 10px;
}

.conn_history{
    position: absolute;
    width: 75vw;
    z-index: 1000;
    border-radius: 5px;
}

.conn_history_list{
    list-style-type: none;
    padding-left: 0px;
}

.conn_history_hidden{
    display: none;
}

.conn_history_item{
    cursor: pointer;    
    padding-left: 5px;
}

.conn_item_alias{
    font-weight: bold;
    padding-left: 5px;
}

.conn_item_str{
    padding-left: 5px;
}

.conn_item_remove{
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    cursor: no-drop;
}

.c3-legend-item{
    font-size: inherit;
}

.c3 svg {
    font-size: inherit;
}

.search-box{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 50%;
}

.alert{
    margin-left: 10px;
    margin-right: 10px;
}

.about-logo{
    width: 50px;
}

.about-table{
    width: 100%;
}

.about-table tr td:first-child{
    width: 70px;
}

.progress{
    width: 100%;
}

.object-info-div{
    margin-left: 20px;
    margin-bottom: 10px;
}

.object-info-name{
    font-weight: bold;
}

.object-info-columns-table td{
    padding-left: 10px;
    padding-right: 30px;
}

.object-info-columns-table th{
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.history-view{
    margin-top: 10px;
}

.history-header{
    width: 100%;
}

.history-header td{
    text-align: center;
}

.history-header tr td:first-child{
    text-align: left;
}

.history-header tr td:last-child{
    width: 80px;
    padding-left: 20px;

}

.history-filter{
    width: 100%;
    font-weight: bold;
    font-size: inherit;
    min-height: inherit;
}

.markdown-block{
    padding-left: 10px;
}

.query-block{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.cloud-error{
    word-break: break-all;
}

.target-server-input{
  width: 100%;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  padding-left: 8px;
}

.schema-nav{
    padding-top: 10px;
}

.project-div{
    display: inline-block;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    z-index: 1;
    position: relative;
}

.project-list{
    padding-top: 15px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    padding-bottom: 5px;
}

.project-toolbar{
    padding-top: 10px;
    width: 100%;
    text-align: left;
    margin-left: 20px;
    line-height: 200%;
}

.project-button{
    display: inline-block;
    cursor: pointer;
    width: calc(100% - 50px);
    padding-left: 10px;
    margin-left: 10px;
}

.project-button-remove{
    display: inline;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}

.project-current-path{
    margin-left: -10px;
}

.project-files-list{
    display: inline-block;
    width: 100%;
    overflow: auto;
}

.project-folder{
    width: 100%;
    padding-left: 10px;
}

.project-folder:hover{
    cursor: pointer;
}

.project-folder-icon{
    margin-right: 10px;
}

.project-file{
    width: 100%;
    padding-left: 10px;
}

.project-file:hover{
    cursor: pointer;
}

.completion-list{
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    max-height: 200px;
    overflow: hidden;
    z-index: 1;
}

.completion-list > ul {
    padding: 0px;
    list-style-type: none;
}

.completion-list > ul > li {
    padding-left: 5px;
    padding-right: 5px;
}

/* sqldoc csv render*/
.csv-div {
    margin-left: 10px;
    white-space: nowrap;
}
.csv-fields-div {
    margin-left: 10px;
    white-space: nowrap;
}
.csv-field {
    font-weight: bold;
}
.csv-separator{
    margin-left: 3px;
    margin-right: 3px;
}

.non-printed-char{
    color: red;
}
