.rows-count-bracket{
    color: #9af89b;
}
.rows-count-number{
    color: #dd8d8e;
}

.duration-word{
    color: #6c99bb;
}

.duration-number{
    color: #dd8d8e;
}

.input-connstr{
    background-color: #5e5e5e;
}

.input-connstr:focus{
    background-color: #fcfcfc;
}

.c3-legend-item text{
    fill: #959595;
}

.c3 .c3-axis path, .c3 .c3-axis line, .c3 .c3-axis text {
    stroke: #5e5e5e;
}

.conn_history{
    background: rgba(74, 74, 74, 0.9);
}

.conn_history_item:hover{
    background-color: grey;
}

.conn_history_item_active{
    background-color: grey;
}

