.rows-count-bracket{
    color: #9af89b;
}
.rows-count-number{
    color: #dd8d8e;
}

.duration-word{
    color: #6c99bb;
}

.duration-number{
    color: #dd8d8e;
}

.render-time{
    font-family: monospace;
}

.input-connstr{
    background-color: rgba(94,94,94, 0.7);
}

.input-connstr:focus{
    background-color: #fcfcfc;
}

.c3-legend-item text{
    fill: #959595;
}

.c3 .c3-axis path, .c3 .c3-axis line, .c3 .c3-axis text {
    stroke: #5e5e5e;
}

.conn_history{
    background: rgba(74, 74, 74, 0.9);
    color: rgb(200, 200, 200);
    border: 1px solid rgb(240, 240, 240);
}

.conn_history_item:hover{
    background-color: rgb(127, 127, 127);
    color: rgb(240, 240, 240);
}

.conn_history_item_active{
    background-color: rgb(127, 127, 127);
    color: rgb(240, 240, 240);
}

.conn_item_alias{
    color: #5BC0DE;
}

.ace_comment{
    font-style: italic;
    color: #BC9458;
}

.ace_content{
    background-color: #323232;
}

.ace_keyword{
    color: #CC7833;
}

.ace_constant{
    color: #6C99BB;
}

.omitted-message{
    color: #CC7833;
}

.rownum{
    background-color: #3B3B3B;
}

.modal-content{
    background-color: #323232;
}

table {
    background-color: #323232;
}

.vsplitter {
    background-color: #5e5e5e;
}

.hsplitter {
    background-color: #5e5e5e;
}

.history-filter{
    background-color: #5e5e5e;
    color: #ffffff
}

.nav-pills > li > a{
    background-color: #5BC0DE;
    background-image: none;
}

.nav-pills > li > a:focus{
    background-color: #5BC0DE;
    background-image: none;
}

.nav-pills > li > a:hover{
    background-color: #5BC0DE;
    background-image: none;
}

.project-div{
    background-color: #323232;
}

.project-folder:hover{
    background-color: #5BC0DE;
    color: #ffffff;
}

.project-file:hover{
    background-color: #5BC0DE;
    color: #ffffff;
}

.project-button:hover{
    background-color: #5e5e5e;
    color: #ffffff;
}

.project-button-remove:hover{
    color: #ffffff;
}

.project-button-active{
    background-color: #5BC0DE;
    color: #ffffff;
}

.toolbar-button:hover{
    color: #ffffff;
}

.completion-list{
    border-color: #5A5A5A;
    background-color: rgba(58, 58, 58, 0.8);
}

.completion-hint-active{
    background-color: #5e5e5e;
    color: #ffffff;
}


/* sqldoc csv render*/
.csv-separator{
    color: #DD8D8E;
}

/* sqldoc floating header*/
.floating-cols-header {
    background: rgba(40, 40, 40, 0.8);
}

/* echo query block */
.query-block > pre{
    background: rgba(40, 40, 40, 0.8);
    color: #ffffff;
}

/* sqldoc table records */
.record-negative-hl{
    background-color: #c74946;
    color: white;
}

.record-negative-hl:hover{
    background-color: red;
    color: white;
}
.record-neutral-hl{
    background-color: #319e31;
    color: white;
}
.record-positive-hl{
    background-color: #337ab7;
    color: white;
}


/* explain plan */

.explain-plan-tree-circle{
    stroke: aliceblue;
    fill: yellowgreen;
}

.explain-plan-cte-record{
    color: #da8814;
}

.explain-plan-tree-circle-never-executed{
    fill: rgba(51, 122, 183, 1);
}

.explain-plan-tree-node-text{
    fill: aliceblue;
}

.explain-plan-tree-link{
    stroke: aliceblue;
}

.explain-plan-cte-link{
    stroke: #f89406;
}

/* */
